<!DOCTYPE html>
<html lang="es">

<head>
    {% block head_includes %}
    {% endblock head_includes %}

    <title>Panel de Control MEII - UTN.BA</title>

</head>

<body>
    <div>
        <h1>Analizador de Espectro</h1>

        {% block content %}
        {% endblock content %}

    </div>
</body>

</html>